:root {
    --primary: #333333;
    --secondary: #4d4d4d;
    --tertiary: #666666;
    --accent: #fcb900;
}

* {
    box-sizing: border-box;
}

/* =====================
   Layout
   ===================== */
body {
    margin: 0;
    color: white;
}
main {
    display: flex;
}

/* =====================
   Navigation
   ===================== */
#nav-bar {
    height: 100vh;
    width: 60px;
    margin: 0;
    padding: 5px;
    background-color: var(--tertiary);
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav-item {
    width: 90%;
    aspect-ratio: 1;
}

.nav-item:hover {
    cursor: pointer;
}

#open-files-btn {
    background-image: url('./assets/file.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* =====================
   File Tree
   ===================== */
#filetree {
    background-color: var(--secondary);
    height: 100vh;
    width: 200px;
    transition: width 0.3s ease;
}

#filetree.closed {
    width: 0px;
    overflow: hidden;
}

#filetree-nav {
    width: 100%;
    height: 5vh;
    margin: 0;
    padding: 5px;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    list-style: none;
}
.filetree-nav-item {
    height: 80%;
    aspect-ratio: 1;
}

.filetree-nav-item:hover {
    cursor: pointer;
}

#create-note-btn {
    background-image: url('./assets/file.svg');
    background-size: contain;
}

#create-folder-btn {
    background-image: url('./assets/folder.svg');
    background-size: contain;
}
#files-container {}

/* =====================
   File Display
   ===================== */
#file-display {
    height: 100vh;
    width: auto;
    background-color: var(--primary);
    flex: 1;
}

#tab-bar {
    background-color: var(--accent);
    height: 5vh;
    width: 100%;
}

#current-tab-div {}

/* =====================
   Search Menu
   ===================== */
#search-menu {
    background-color: var(--primary);
    height: 40vh;
    width: 50vw;
}
#close-search-menu-btn {}
#search-bar {}
#search-results {}