@import url('./themes.css');

.md-cheatsheet {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 500px;
    width: 750px;
    background-color: var(--bg-tertiary);
    color: var(--font-tertiary);
    display: flex;
    flex-direction: column;
    z-index: 105;
    padding: var(--padding-large);
    overflow-y: scroll;
    overflow-x: hidden;
}

.close-md-sheet-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    color: var(--font-tertiary);
}

.markdown-example {
    max-height: 400px;
    width: 100%;
    border: 1px solid red;
    padding: var(--padding-medium);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.markdown-example-title {
    height: 10%;
}

.markdown-display-container {
    display: flex;
    width: 100%;
    border: 1px solid blue;
    height: 80%;
}

.markdown-display  {
    height: 100%;
    width: 50%;
    border: 1px solid yellow;
    display: flex;
    justify-content: flext-start;
    align-items: center;
}

.markdown-output {
    height: 100%;
    width: 50%;
    border: 1px solid yellow;
}

.markdown-input {
    height: 100%;
}


