@import url('./themes.css');

.md-cheatsheet {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 500px;
    width: 750px;
    background-color: var(--bg-tertiary);
    color: var(--font-tertiary);
    display: flex;
    flex-direction: column;
    z-index: 105;
}

.close-md-sheet-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    color: var(--font-tertiary);
}


