@import url('./themes.css');

.md-cheatsheet {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 500px;
    width: 750px;
    background-color: var(--bg-tertiary);
    color: var(--font-tertiary);
    display: flex;
    flex-direction: column;
    z-index: 105;
    padding: var(--padding-large);
    overflow-y: scroll;
    overflow-x: hidden;
    gap: var(--padding-medium);
    border: 3px solid var(--border-tertiary);
}

.close-md-sheet-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    color: var(--font-tertiary);
    z-index: 202;
}

.markdown-example {
    height: 400px;
    width: 100%;
    padding: var(--padding-medium);
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
}

.markdown-example-title {
    flex: 0 0 auto;
}

.markdown-display-container {
    display: flex;
    width: 100%;
    flex: 1;
    gap: var(--padding-medium);
    min-height: 0;
}

.markdown-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius-medium);
}

.markdown-output {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

.markdown-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
