@import url('./themes.css');

#settings {
    display: flex;
    position: relative;
    z-index: 98;
}

#close-settings-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#settings-output {
    width: 70%;
    height: 100%;
    border: 1px solid blue;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#settings-nav {
    width: 30%;
    height: 100%;
    border: 1px solid red;
}

.settings-nav-item {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.settings-nav-item:hover {
    cursor: pointer;
    color: darkgrey;
    text-decoration: underline;
}

.pack-select {
    border: 1px solid black;
    height: 200px;
}

/*// Daily Notes settings menu ////////////*/
.daily-preset-input {
    width: 100%;
    height: 500px;
}
