@import url('src/styles/themes.css');

.tab-menu {
    border: 3px solid var(--border-tertiary);
    background-color: var(--bg-tertiary);
    z-index: 99;
    border-radius: var(--border-radius-medium);
    color: var(--font-tertiary);
    padding: var(--padding-medium)
}

.tab-menu-item {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-small);
}

.tab-menu-item:hover {
    cursor: pointer;
    background-color: var(--hover-dark);
}

.tab-menu-img {
    height: 100%;
    aspect-ratio: 1;
}

.add-tab-btn {
    border: none;
    background-color: transparent;
    height: 100%;
}
