:root {
    --bg-primary: #f4efe4;
    --bg-secondary: #ede8dc;
    --bg-tertiary: #8c6a4e;
    --accent: #c8a96e;
    --font: 'Noto Serif JP', serif;
    --font-primary: #1c1a17;
    --font-secondary: #4a4a48;
    --font-hover: #8c6a4e;
    --font-tertiary: #9a9a98;
    --border: rgba(0, 0, 0, 0.1);
    --cedar-hover: #f0e6d0;

    --primary-active: #cfc9ba;

    --paper: #eae4d6;
    --pannel: #f5f1e8;
}

:root .dark {
    --bg-primary: #000000;
}

/* fonts */
:root .Noto-Serif-JP {
    --font: 'Noto Serif JP', serif;
}

:root .monospace {
    --font: monospace;
}

:root .Times-New-Roman {
    --font: 'Times New Roman';
}

* {
    box-sizing: border-box;
}
