.toast-el {
    z-index: 99;
    height: 50px;
    width: 400px;
    border: 1px solid black;
    background-color: grey;
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
