@import '../themes.css';

.keybind-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.keybind-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keybind-option {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 75px;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
}

.keybind-option * {
    margin: 0;
}

.bind-title {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
