@import url('./themes.css');

#right-sidebar {
    height: 100vh;
    border: 2px solid white;
    width: 300px;
    transition: width 0.3s ease;
}

#right-sidebar-btn {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: aqua;
    z-index: 999;
}

#right-sidebar.closed-sidebar{
    width: 0px;
    overflow: hidden;
}

#right-sidebar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    width: 100%;
    border: 1px solid red;
    justify-content: start;
    align-items: center;
    padding: 0;
    height: 50px;
}

.sidebar-nav-item {
    height: 30px;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.sidebar-nav-item:hover {
    cursor: pointer;
}

#to-do-btn {
    background-image: url('../assets/todo.svg');
}

/*////////////////////////////////////////////////////////
////           to do styling                           //
//////////////////////////////////////////////////////*/

.toDoList {
    color: white;
}

/*/////////////////////////////////////////////////////
                scrap paper styling
//////////////////////////////////////////////////////*/

.scrap-paper {
    height: 80vh;
    width: 175px;
    border: none;
    background-color: var(--bg-tertiary);
    color: white;
}