@import url('./themes.css');

* {
    box-sizing: border-box;
}

#right-sidebar {
    height: 100vh;
    width: 300px;
    max-width: 300px;
    transition: width 0.3s ease;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    padding: 0;
}

#right-sidebar-btn {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 999;
    background-image: url(../assets/sidebar.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    aspect-ratio: 1;
    border: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 10px;
}

#right-sidebar.closed-sidebar{
    width: 0px;
    overflow: hidden;
}

#right-sidebar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 5px;
    height: 40px;
    margin: 0;
}

.sidebar-nav-item {
    height: 30px;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sidebar-nav-item:hover {
    cursor: pointer;
}

#sidebar-contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    min-height: 0;
    padding: 15px;
}

/* module styling */

.add-module-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bg-secondary);
    min-height: 150px;
    color: var(--font-secondary)
}

.add-module-btn:hover {
  cursor:pointer;
}

.module-menu {
   min-height: 200px;
   width: 300px; 
   display:flex;
   margin: 0px;
   padding: 15px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.module-menu-item {
   width: 100px;
   aspect-ratio: 1;
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.module {
    width: 250px;
    flex: 1;
    border-radius: 10px;
    position: relative;
    border: 1px solid grey;
    max-height: 400px;
    background-color: var(--pannel)
}

.module-img {
    width: 100%;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid black;
}

.module-title {
    color: var(--font-secondary);
}

.delete-module-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: inherit;
}
