@import url('./themes.css');

* {
    box-sizing: border-box;
}

#right-sidebar {
    height: 100vh;
    width: 300px;
    transition: width 0.3s ease;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    padding: 0;
}

#right-sidebar-btn {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 999;
    background-image: url(../assets/sidebar.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    aspect-ratio: 1;
    border: none;
}

#right-sidebar.closed-sidebar{
    width: 0px;
    overflow: hidden;
}

#right-sidebar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 5px;
    height: 40px;
    margin: 0;
    background-color: var(--bg-tertiary);
}

.sidebar-nav-item {
    height: 30px;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sidebar-nav-item:hover {
    cursor: pointer;
}

#to-do-btn {
    background-image: url('../assets/todo.svg');
}

#scrap-paper-btn {
    background-image: url('../assets/book.svg');
}

#timer-btn {
    background-image: url('../assets/timer.svg');
}

#sidebar-contents {
    border-left: 1px solid var(--border-secondary);
    border-top: 1px solid var(--border-secondary);
    width: 100%;
}

/*////////////////////////////////////////////////////////
////           to do styling                           //
//////////////////////////////////////////////////////*/

.toDoList {
    color: white;
}

.task-card {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 100%;
}

/*/////////////////////////////////////////////////////
                scrap paper styling
//////////////////////////////////////////////////////*/

.scrap-paper {
    height: 80vh;
    width: 175px;
    border: none;
    background-color: var(--bg-tertiary);
    color: white;
}

/*//////////////////////////////////////////////////////
                Timer styling
//////////////////////////////////////////////////////*/

/* module styling */

.add-module-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bg-secondary);
    min-height: 150px;
    color: var(--font-secondary)
}

.add-module-btn:hover {
  cursor:pointer;
}

.module-menu {
   min-height: 200px;
   width: 100%;
   display:flex;
   margin: 0px;
   padding: 15px;
}

.module-menu-item {
   width: 100px;
   aspect-ratio: 1;
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.module {
    border: 1px solid black;
    width: 300px;
    flex: 1;
}

.module-img {
    width: 100%;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid black;
}

.module-title {
    color: var(--font-secondary);
}
