@import url('./themes.css');

#right-sidebar {
    height: 100vh;
    width: 300px;
    transition: width 0.3s ease;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    padding: 0;
}

#right-sidebar-btn {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 999;
    background-image: url(../assets/sidebar.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    aspect-ratio: 1;
    border: none;
}

#right-sidebar.closed-sidebar{
    width: 0px;
    overflow: hidden;
}

#right-sidebar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 5px;
    height: 40px;
    margin: 0;
    background-color: var(--bg-tertiary);
}

.sidebar-nav-item {
    height: 30px;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sidebar-nav-item:hover {
    cursor: pointer;
}

#to-do-btn {
    background-image: url('../assets/todo.svg');
}

#scrap-paper-btn {
    background-image: url('../assets/book.svg');
}

#timer-btn {
    background-image: url('../assets/timer.svg');
}

#sidebar-contents {
    border-left: 1px solid var(--border-secondary);
    border-top: 1px solid var(--border-secondary);
}

/*////////////////////////////////////////////////////////
////           to do styling                           //
//////////////////////////////////////////////////////*/

.toDoList {
    color: white;
}

.task-card {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 100%;
}

/*/////////////////////////////////////////////////////
                scrap paper styling
//////////////////////////////////////////////////////*/

.scrap-paper {
    height: 80vh;
    width: 175px;
    border: none;
    background-color: var(--bg-tertiary);
    color: white;
}

/*//////////////////////////////////////////////////////
                Timer styling
//////////////////////////////////////////////////////*/

